@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
html,body{
    min-width: 100%;
    min-width: 100vw;
    min-height: 100%;
    min-height: 100vh;
}

@font-face {
    font-family: 'Cedarville Cursive';
}

.font-cc {
    font-family:  'Cedarville Cursive';
}

.h3 {
    font-family:  'Cedarville Cursive';
    color: rgb(255, 165, 0);
}

h4 {
    font-family:  'Cedarville Cursive';
    color: #9AD0EC;
}

.litpinkbg {
    font-family:  'Cedarville Cursive';
    background: #E3BEC6;
}

.lityelbg {
    font-family:  'Cedarville Cursive';
    background: #EFDAD7;
}

.litbluebg{
    background: #9AD0EC;
}

.darkbluebg{
    background-color: #1572A1;
}

.fdarkblue{
    color: #1572A1;
}

.fcolor {
    color: #E3BEC6;
}

.cpl-img{
    background-image: url("../images/cp2.jpg");
    width: 150px;
    height: 150px;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
}


.header {
    width: 100%;
    width: 100vw;
    height: 70vh;
    /* background: url('../images/home-banner.jpg') no-repeat; */
    /* background-position: center; */
    background-size: contain;
    background-color: #1572A1;
} 
canvas {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size: 20px;
}

.flip-clock-wrapper ul{
    margin: 2px;
}
.flip-clock-wrapper{
    margin: 0px;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }

